@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@layer base {
  * {
    font-family: Outfit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
html{
  scroll-behavior: smooth;
}
section{
  margin-left: auto;
  margin-right: auto;
}
button{
  cursor: pointer;
  transition: .3s ease-in-out;
}

/* homePage */
.btn-m{
  margin-top: 25px;
  margin-bottom: 25px;
}
.padd{
  padding: 10px;
}
.pt{
  padding-top: 20px;
  padding-bottom: 30px;
}

.img{
  background-position:  center;
  background-size: contain;
  object-fit: cover;
}


.dots{
  padding: 20px;
}
.marri{
  margin-right: 20px;
}


.item{
  padding: 5px;
  /* padding-bottom: 40px; */
   position: relative;
   top: -130px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;

}

.text{
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 30px;
}
.btnna{
  margin-top: 20px;
  padding-bottom: 30px;
}
@media(max-width:767px){
  .cartPage{
    padding-top: 5px !important;
  }
  .completeBuy{
    padding: 15px 0 !important;
  }
  .cartProductCard{
    margin: 0 !important;
    padding: 15px 10px !important;
  }
}
@media(max-width:410px){
  .info{
    flex: 1 1 0% !important;
  }
  .buttons-cart{
    flex-direction: column !important;
    gap: .75rem !important;
  }
  .saveLaterBtn{
    width: 100% !important;
  }
}
/* @media(max-width:390px){
  header{
    width: 100% !important;
  }
} */
body{
  height: 5000px;
}
button{
  transition: .3s ease-in-out;
}
/* header */
header{
  /* background-color: #222; */
  color: #fff;
}

/* respoinsve */
@media (max-width:767px) {
  .sign-in-btn{
    margin-left: 30px !important;
  }
  .Deliver{
    padding:10px 0 !important
  }
}
