@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
  box-sizing: border-box;

}
html{
  scroll-behavior: smooth;
}
section{
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: rgb(202, 202, 202);
}