@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@layer base {
  * {
    font-family: Outfit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
html{
  scroll-behavior: smooth;
}
section{
  margin-left: auto;
  margin-right: auto;
}
button{
  cursor: pointer;
  transition: .3s ease-in-out;
}

@media(max-width:767px){
  .cartPage{
    padding-top: 135px !important;
  }
  .completeBuy{
    padding: 15px 0 !important;
  }
  .cartProductCard{
    margin: 0 !important;
    padding: 15px 10px !important;
  }
}